:root {
	/* --border-toggle: 1px solid gray; */

	/* global colors */
	--bg: #18181b;
	--img-bg-color: #27272a;

	/* text colors */
	--brightest: #f4f9f9;
	--medium: #eff8ff;
	--dark: #dddddd;
	--darkest: #888888;

	/* font size */
	--fs-1: 24px;
	--fs-2: 20px;
	--fs-3: 18px;
	--fs-4: 16px;
	--fs-5: 15px;
	--fs-6: 14px;
	--fs-7: 12px;
	--fs-8: 10px;

	/* font weights */
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;

	--ff-poppins: 'Poppins', sans-serif;

	/* section wise vars */
	--navbar-h: 80px;
	--section-indent: 5px;

	/* Responsive screen widths 
	450, 580, 768, 1024, 1250  */
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-family: var(--ff-poppins);
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg);
	color: var(--brightest);
	font-weight: var(--fw-300);
}

a {
	text-decoration: none;
	color: var(--brightest);
}

/* -------------------------------------------------
	NAVBAR
------------------------------------------------- */

.navbar {
	background-color: var(--bg);
	height: var(--navbar-h);
	line-height: var(--navbar-h);
	margin-bottom: 20px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 20;

	border: var(--border-toggle);
}

.nav-link {
	padding: 10px 20px 10px 20px;
	color: var(--medium);
	font-size: var(--fs-4);
	font-weight: var(--fw-300);
	border-radius: 15px;

	border: var(--border-toggle);
}

.nav-link:not(:last-child):hover {
	background-color: var(--img-bg-color);
}

/* .nav-link.active {
	color: var(--brightest);
} */

.nav-link:first-child {
	font-size: var(--fs-3);
	font-weight: var(--fw-400);
}

.nav-link:not(:first-child) {
	display: none;
}

.nav-link.icon {
	padding: 0;
	float: right;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	height: var(--navbar-h);
	width: var(--navbar-h);
	position: relative;
}

/* opened/toggled navbar settings */

.navbar.toggle a {
	float: none;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	background-color: var(--bg);
	z-index: 21;
	opacity: 0.95;
}

.navbar.toggle div.icon {
	position: absolute;
	right: 0;
	top: 0;
}

/* hamburger */

.hamburger-cont {
	height: var(--navbar-h);
	width: var(--navbar-h);
	display: flex;
	justify-content: center;
	align-items: center;

	border: var(--border-toggle);
}

.hamburger {
	display: block;
	cursor: pointer;
	transition: all 0.7s ease;
	transform: scale(0.8);

	border: var(--border-toggle);
}

.hamburger div {
	width: 30px;
	height: 3px;
	background: var(--medium);
	margin: 5px auto 5px auto;
	transition: all 0.3s ease;
}

.hamburger.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.toggle .line2 {
	transition: all 0.5s ease;
	width: 0;
}

.hamburger.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* -------------------------------------------------
	SECTION HOME 
------------------------------------------------- */

main {
	margin-left: 20px;
	margin-right: 20px;
}

section {
	margin-bottom: 40px;
}

.home {
	height: 230px;

	border: var(--border-toggle);
}

.intro {
	width: 70%;
	height: inherit;
	float: left;
	display: flex;
	/* justify-content: center; */
	align-items: center;

	border: var(--border-toggle);
}

.avatar {
	height: inherit;
	width: 27%;
	float: right;
	position: relative;
	margin-right: var(--section-indent);

	border: var(--border-toggle);
}

.intro div {
	border: var(--border-toggle);
}

.avatar img {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 500px;
}

.intro h1 {
	color: var(--brightest);
	font-size: var(--fs-1);
	font-weight: var(--fw-600);
	margin-bottom: 15px;
}

.subheading {
	color: var(--medium);
	font-size: var(--fs-4);
	font-weight: var(--fw-400);
	margin-bottom: 12px;
	margin-left: var(--section-indent);
}

.description {
	color: var(--dark);
	font-size: var(--fs-6);
	font-weight: var(--fw-300);
	margin-left: var(--section-indent);
	margin-bottom: 12px;
}

.visit {
	color: var(--medium);
	font-size: var(--fs-5);
	font-weight: var(--fw-400);
	width: fit-content;
	margin-left: var(--section-indent);
	transition: transform 0.3s;
}

.visit:hover {
	transform: translateX(10px);
}

/* -------------------------------------------------
	SKILLS
------------------------------------------------- */

.skills {
	color: var(--brightest);

	border: var(--border-toggle);
}

.skills h3 {
	color: var(--brightest);
	font-weight: var(--fw-500);
	font-size: var(--fs-2);
	margin-bottom: 25px;
}

.skill {
	color: var(--dark);
	font-size: var(--fs-5);
	margin: 2%;
	margin-left: var(--section-indent);
	margin-right: var(--section-indent);

	border: var(--border-toggle);
}

.skill hr {
	margin-top: 10px;
	border: none;
	height: 1px;
	background-color: var(--darkest);
}

.skill strong {
	color: var(--brightest);
	font-weight: var(--fw-500);
}

.other-skills {
	color: var(--medium);
	font-size: var(--fs-6);
	font-weight: var(--fw-300);
	margin-left: var(--section-indent);
	margin-right: var(--section-indent);
}

/* -------------------------------------------------
	PROJECTS
------------------------------------------------- */

.projects {
	text-align: center;

	border: var(--border-toggle);
}

.projects h3 {
	color: var(--brightest);
	font-size: var(--fs-2);
	font-weight: var(--fw-500);
	text-align: left;
	margin-bottom: 25px;

	border: var(--border-toggle);
}

.project-list {
	margin-left: var(--section-indent);
	margin-right: var(--section-indent);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	border: var(--border-toggle);
}

.project {
	background-color: #000;
	border: 3px solid #008000;
	border-radius: 15px;
	width: 135px;
	height: 75px;
	margin: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.project:hover {
	transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
	transform: scale(1.08);
}

.project h4 {
	color: var(--medium);
	font-size: var(--fs-7);
	line-height: 15px;
	font-weight: var(--fw-300);
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: 6px;

	border: var(--border-toggle);
}

.project p {
	color: var(--dark);
	font-size: var(--fs-8);
	line-height: 12px;
	font-weight: var(--fw-300);
	padding-left: 3px;
	padding-right: 3px;

	border: var(--border-toggle);
}

/* -------------------------------------------------
	CONTACT 
------------------------------------------------- */

.contact {
	text-align: center;
	height: 120px;

	border: var(--border-toggle);
}

.contact h3 {
	color: var(--brightest);
	text-align: left;
	font-size: var(--fs-2);
	font-weight: var(--fw-500);
	margin-bottom: 25px;

	border: var(--border-toggle);
}

.contact a {
	margin: 2%;
}

.contact img {
	border-radius: 8px;
	width: 20px;
	height: 20px;
	padding: 5pt;
	background-color: var(--img-bg-color);
}

.contact img:hover {
	box-shadow: 0px 0px 0px 1px var(--medium) inset;
}

.hidden {
	display: none;
}

@media screen and (min-width: 580px) {
	/* toggle hamburger menu on screens larger than 580px */
	.nav-link:not(:first-child) {
		display: inline;
	}

	.nav-link.icon {
		display: none;
	}

	/* display first child as normal child */
	.nav-link:first-child {
		font-size: var(--fs-4);
		font-weight: var(--fw-300);
	}

	/* center align all links */
	.navbar {
		width: 100%;
		text-align: center;
	}

	main {
		margin-left: 50px;
		margin-right: 50px;
	}

	/* adjust section heights */
	.home {
		height: 200px;
	}

	.project {
		width: 160px;
		height: 80px;
	}
}

@media screen and (min-width: 768px) {
	.navbar {
		--navbar-h: 100px;
	}

	.nav-link {
		margin-left: 5px;
		margin-right: 5px;
		font-size: var(--fs-3);
	}

	.nav-link:first-child {
		font-size: var(--fs-3);
	}

	main {
		margin-left: 80px;
		margin-right: 80px;
	}

	.home {
		height: 230px;
	}

	.subheading {
		font-size: var(--fs-3);
	}

	.description {
		font-size: var(--fs-6);
	}

	.visit {
		font-size: var(--fs-4);
	}

	.skill {
		margin-top: 4%;
		margin-bottom: 4%;
		font-size: var(--fs-4);
	}

	.other-skills {
		font-size: var(--fs-5);
	}

	.project {
		width: 195px;
		height: 90px;
	}

	.project h4 {
		font-size: var(--fs-6);
		line-height: 17px;
	}

	.project p {
		font-size: var(--fs-7);
		line-height: 15px;
	}

	.contact img {
		width: 25px;
		height: 25px;
	}
}

@media screen and (min-width: 1024px) {
	.navbar {
		margin-bottom: 40px;
	}

	.nav-link {
		margin-left: 10px;
		margin-right: 10px;
	}

	main {
		margin-left: 120px;
		margin-right: 120px;
	}

	.home {
		height: 250px;
	}

	.intro h1 {
		font-size: 30px;
	}

	.description {
		font-size: var(--fs-4);
	}

	.skill p {
		margin-bottom: 20px;
	}

	.project-list {
		margin-left: 60px;
		margin-right: 60px;
	}
}

@media screen and (min-width: 1250px) {
	.navbar {
		margin-bottom: 50px;
	}

	.nav-link {
		margin-left: 20px;
		margin-right: 20px;
	}

	main {
		margin-left: 160px;
		margin-right: 160px;
	}

	section {
		margin-bottom: 50px;
	}

	.home {
		height: 270px;
	}

	.project-list {
		margin-left: 100px;
		margin-right: 100px;
	}
}
