:root {
	/* global colors */
	--bg: #18181b;
	--img-bg-color: #27272a;

	/* text colors */
	--brightest: #f4f9f9;
	--medium: #eff8ff;
	--dark: #dddddd;
	--darkest: #888888;

	/* font sizes */
	--fs-1: 24px;
	--fs-2: 18px;
	--fs-3: 17px;
	--fs-4: 16px;
	--fs-5: 15px;
	--fs-6: 14px;
	--fs-7: 13px;
	--fs-8: 11px;

	/* font weights */
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;

	/* font family */
	--ff-poppins: 'Poppins', sans-serif;

	/* section wise vars */
	--navbar-h: 80px;
	--home-section-height: 230px;

	--section-content-indent: 5px;
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-family: var(--ff-poppins);
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg);
	color: var(--brightest);
	font-weight: var(--fw-300);
}

a {
	text-decoration: none;
	color: var(--brightest);
}

/* 
	NAVBAR
*/

.navbar {
	background-color: var(--bg);
	height: var(--navbar-h);
	line-height: var(--navbar-h);
	margin-bottom: 20px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 20;

	/* border: 1px solid white; */
}

.nav-link {
	padding: 10px 20px 10px 20px;
	color: var(--medium);

	/* border: 1px solid green; */
}

.nav-link.active {
	color: var(--brightest);
}

.nav-link:first-child {
	font-size: var(--fs-2);
	font-weight: var(--fw-500);
}

.nav-link:not(:first-child) {
	display: none;
}

.nav-link.icon {
	padding: 0;
	float: right;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	height: var(--navbar-h);
	width: var(--navbar-h);
	position: relative;
}

/* opened/toggled navbar settings */

.navbar.toggle a {
	float: none;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	background-color: var(--bg);
	z-index: 21;
	opacity: 0.95;

	/* border: 1px solid red; */

	/* all transitions here */
	/* transition: all 0.9s ease; */
}

.navbar.toggle a.icon {
	position: absolute;
	right: 0;
	top: 0;
}

/* toggle hamburger menu on screens smaller then 580px */
@media screen and (min-width: 580px) {
	.nav-link:not(:first-child) {
		display: inline;
	}

	.nav-link.icon {
		display: none;
	}
}

/* hamburger */

.hamburger-cont {
	height: var(--navbar-h);
	width: var(--navbar-h);
	display: flex;
	justify-content: center;
	align-items: center;

	/* border: 1px solid green; */
}

.hamburger {
	display: block;
	cursor: pointer;
	transition: all 0.7s ease;
	transform: scale(0.8);

	/* border: 1px solid pink; */
}

.hamburger div {
	width: 30px;
	height: 3px;
	background: var(--medium);
	margin: 5px auto 5px auto;
	transition: all 0.3s ease;
}

.hamburger.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.toggle .line2 {
	transition: all 0.5s ease;
	width: 0;
}

.hamburger.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* 
	SECTION HOME 
*/

.home {
	height: var(--home-section-height);
	margin: 5%;
	margin-top: 0;

	/* border: 1px solid white; */
}

.intro {
	width: 70%;
	height: var(--home-section-height);
	float: left;

	/* border: 1px solid red; */
}

.intro h1 {
	color: var(--brightest);
	font-size: var(--fs-1);
	font-weight: var(--fw-500);
	margin-bottom: 15px;
}

.subheading {
	color: var(--dark);
	font-size: var(--fs-4);
	font-weight: var(--fw-400);
	margin-bottom: 12px;
	margin-left: var(--section-content-indent);
}

.description {
	color: var(--darkest);
	font-size: var(--fs-6);
	font-weight: var(--fw-300);
	margin-left: var(--section-content-indent);
	margin-bottom: 12px;
}

.visit {
	color: var(--medium);
	font-size: var(--fs-5);
	font-weight: var(--fw-400);
	margin-left: var(--section-content-indent);
	transition: transform 0.2s;
}

.profile {
	height: var(--home-section-height);
	width: 28%;
	float: right;
	position: relative;

	/* border: 1px solid green; */
}

.profile-img {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 500px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* 
	SKILLS
*/

.skills {
	margin: 5%;
	margin-top: 0;
	height: 280px;

	/* border: 1px solid white; */
}

.skills h3 {
	color: var(--brightest);
	font-size: var(--fs-2);
	margin-bottom: 25px;
}

.skill {
	color: var(--dark);
	font-size: var(--fs-5);
	margin: 3% 0% 3% 0%;
	margin-left: var(--section-content-indent);

	/* border: 1px solid green; */
}

hr {
	margin-top: 10px;
	border: none;
	height: 1px;
	background-color: var(--darkest);
}

.skill strong {
	color: var(--brightest);
}

.other-skills {
	color: var(--medium);
	font-size: var(--fs-6);
	font-weight: var(--fw-300);
	margin-top: 4%;
	margin-left: var(--section-content-indent);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* 
	PROJECTS
*/

.projects {
	text-align: center;
	margin: 5%;
	margin-top: 0;
	height: 250px;

	/* border: 1px solid pink; */
}

.projects h3 {
	color: var(--brightest);
	font-size: var(--fs-2);
	text-align: left;
	margin-bottom: 25px;
}

.project-list {
	width: 100%;

	/* border: 1px solid red; */
}

.project {
	display: block;
	background-color: #000;
	border: 3px solid #008000;
	border-radius: 15px;
	margin: 0 10px 15px 10px;
	cursor: pointer;
}

.project h5 {
	color: var(--medium);
	font-size: var(--fs-5);
	font-weight: var(--fw-400);
	margin: 2%;
}

.project p {
	color: var(--dark);
	font-size: var(--fs-7);
	font-weight: var(--fw-300);
	margin: 2%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* 
	CONTACT 
*/

.contact {
	text-align: center;
	margin: 5%;
	margin-top: 0;
	height: 120px;

	/* border: 1px solid yellow; */
}

.contact h3 {
	color: var(--brightest);
	text-align: left;
	font-size: var(--fs-2);
	margin-bottom: 15px;
}

.contact a {
	margin: 1%;
}

.contact img {
	border-radius: 8px;
	transform: scale(0.7);
	padding: 5pt;
	background-color: var(--img-bg-color);
}

.contact img:hover {
	box-shadow: 0px 0px 0px 1px var(--medium) inset;
}

.hidden {
	display: none;
}
